.container{
  width: 1024px;
  margin: 0 auto;

  .navbar{
    background: #444;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    div > a{
      line-height: 50px;
      font-size: 30px;
      color: white;
      text-decoration: none;
      padding: 0 25px;
      align-items: center;
      &:hover{
        outline: 5px white dashed;
      }
    }
  }
}
