<div class="container">
  <h1>New in Smart Phone</h1>
  <div class="more-products">
    <app-card>
      <h4 class="title">New in iPhone</h4>
      <button class="btn btn-more">Show More in iPhone</button>
    </app-card>

    <app-card>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-more">Show More in Samsung</button>
    </app-card>

    <app-card>
      <h4 class="title">New in OnePlus</h4>
      <button class="btn btn-more">Show More in OnePlus</button>
    </app-card>

    <app-card>
      <h4 class="title">New in MI</h4>
      <button class="btn btn-more">Show More in MI</button>
    </app-card>

  </div>
</div>
